# Database
DATABASE_URL="file:./prisma/dev.db"

# Session secret (min 32 chars, change in production!)
SESSION_SECRET="your-super-secret-session-key-change-this-in-production-min-32-chars"

# WhatsApp number (without + prefix)
NEXT_PUBLIC_WA_NUMBER="6281312167554"

# Site URL
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
