ignore-scripts=false
only-built-dependencies=["argon2", "@prisma/client", "@prisma/engines", "prisma", "esbuild", "@sentry/cli"]
public-hoist-pattern[]=*require-in-the-middle*
public-hoist-pattern[]=*shimmer*
public-hoist-pattern[]=*@opentelemetry*
public-hoist-pattern[]=*@sentry*
